.input{
    text-align: center;
}

cela{
background-color: #1E90FF
}

.slike{
    margin:1px;
    padding:1px;
    border: 1px black;
    align: center;
}

container{
    margin:10px;
    border:100px
}

.col-md-4{
    width:100px;
    height:100px;
    border: 100px
}
.igra{
    text-align:center;
}

.novice{
    text-align:center;
    text-color: black;
}
.odgovor{

    text-align: center;
    text_color:red;
}

.clanek{
    font-size: 17px;
    text_align: center;

}

.registracija{
    text_align:center;
}